body{
  background-color: #000000;
}

.App {
  text-align: center;
  padding: 20px;

}

.nav {
  display: flex;
  justify-content: space-evenly; 
  background-color: rgb(99, 163, 163);
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
}

.nav-elm {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-size: 30px;
  
}
.nav-elm:hover {
  color: #f1c40f;
}

.frm {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}

.frm-elm {
  display: flex;
  justify-content: center;
  background-color: rgb(199, 215, 215);
  padding: 20px;
  margin: 10px;
  border-radius: 20px;

}
input{
padding: 5px;
  border-radius: 10px;
}

button[type="submit"] {
  background-color: #567392;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
h1 {
  color:  #7f9cbb;
  text-align: center;
  font-size: 40px;
}
p{
  
  color: #567392;
  text-align: center;
  font-size: 20px;
}

